@font-face {
  font-family SoukouMincho
  src url('../../../static/fonts/SoukouMincho.ttf')
}
@font-face {
  font-family FFj
  src url('../../../static/fonts/FFF_Tusj.ttf')
}
@font-face {
  font-family GrutchShaded
  src url('../../../static/fonts/GrutchShaded.ttf')
}
*{
  margin 0
  padding 0
  box-sizing border-box
}
  
html,body{
  position absolute 
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden
}
::-webkit-scrollbar{  
    width: 5px;  /*滚动条宽度*/
    height: 16px;  /*滚动条高度*/
    visibility hidden
}  
::-webkit-scrollbar-track{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 50px;  /*滚动条的背景区域的圆角*/
    background-color: rgba(0,0,0,0.3);/*滚动条的背景颜色*/  
}  
::-webkit-scrollbar-thumb{  
    border-radius: 50px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: white;  /*滚动条的背景颜色*/
}  